extends layout

block splash
  div.splash
    div.container
      div.row
        h1 BitBabel - Your Cryptocurrency Address DNS
        p.lead
          | Addresses are hard to remember.
          br
          | All you need is to map a Twitter ID, Email, or Phone Number to a bitcoin, dogecoin or litecoin address. Easy!


block content

  div.container
    div.row
      p
        if !user
          a.btn.btn-twitter.btn-social(href='/auth/twitter')
            i.fa.fa-twitter
            | Sign in with Twitter 
        | 
        a.btn.btn-success(href="/maps/new")
         | Add a new Address Mapping  