extends layout

block content
  h1 BitBabel - Your Bitcoin Address DNS
  p.lead
    | Addresses are hard to remember.
    br
    | All you need is to map a Twitter ID, Email, or Phone Number to a bitcoin address. Easy!


  p
    a(href="/maps/new")
      button.btn.btn-success
       | Add a new Address Mapping  