extends layout

block splash
  div.splash
    div.container-fluid
      div.row
        h1 BitBabel - Your Cryptocurrency Address DNS
        p.lead
          | Addresses are hard to remember.
          br
          | All you need is to map a Twitter ID, Email, or Phone Number to a bitcoin, dogecoin or litecoin address. Easy!


block content
  div.container
    div.row

    div.row
      div.col-md-1
        h4 Step 1
      div.col-md-4
          if !user
            p
                a.btn.btn-twitter.btn-social.btn-block(href='/auth/twitter')
                  i.fa.fa-twitter
                  | Sign in with Twitter 
          else
            p
                a.btn.btn-twitter.btn-social.btn-block(href='/auth/twitter')
                  | Signed In!
    div.row
      div.col-md-1
        h4 Step 2
      div.col-md-4
        p        
          a.btn.btn-success.btn-block(href="/map/twitter/new")
           | Map your Wallet Address to Your Twitter ID