extends ../layout

block content
  h2 
    if (address)
      | Wallet Mappings for #{maptype}: #{address}
    else
      | #{maptype} to Wallet Address

  include partials/map-table

  a(href="/maps/new")
    button.btn.btn-success
     | Add new address  