extends ../layout

block content
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    legend Create a new address mapping
    .form-group
      label.col-sm-3.control-label(for='proofurl') Tweet URL
      .col-sm-7
        input.form-control(type='text', name='proofurl', id='proofurl', placeholder='URL of the Tweet with the Bitcoin address', autofocus)

    .col-sm-3.control-label 
    .col-sm-7 
      p Or

    .form-group
      label.col-sm-3.control-label(for='twitter') Twitter ID
      .col-sm-7
        input.form-control(type='text', name='twitter', id='twitter', placeholder='TwitterId (no @ sign please)')
    .form-group
      label.col-sm-3.control-label(for='address') Bitcoin Wallet Address
      .col-sm-7
        input.form-control(type='text', name='address', id='address', placeholder='Wallet Address')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Create Mapping
