extends ../layout

block content
  form.form-horizontal(id='inline-map-form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    legend Create a new address mapping
    .form-group
      label.col-sm-3.control-label(for='mapfromtype') Map From Type
      .col-sm-7
        select.form-control(name='mapfromtype', id='mapfromtype', autofocus)
          option Twitter
          option Facebook
          option Email
          option SMS
          option Website

    .form-group
      label.col-sm-3.control-label(for='mapfromaddress') Address
      .col-sm-7
        input.form-control(type='text', name='mapfromaddress', id='mapfromaddress', placeholder='From Address')

    .form-group
      label.col-sm-3.control-label(for='proofurl') Proof URL
      .col-sm-7
        input.form-control(type='text', name='proofurl', id='proofurl', placeholder='URL to Proof of this mapping')


    .col-sm-3.control-label 
    .col-sm-7 
      p 
        b To

    .form-group
      label.col-sm-3.control-label(for='maptotype') Map To Type
      .col-sm-7
        select.form-control(name='maptotype', id='maptotype', autofocus)
          option Bitcoin
          option Dogecoin
          option Litecoin     
    .form-group
      label.col-sm-3.control-label(for='maptoaddress') Wallet Address
      .col-sm-7
        input.form-control(type='text', name='maptoaddress', id='maptoaddress', placeholder='Wallet Address')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Create Mapping
