extends ../layout

block content
  h2 Twitter to Bitcoin Address

  table.table
    tr
      th Twitter Name
      th Bitcoin Address
      th Proof URL
      th Actions
    each map, i in maps
      tr
        td= map.mapfrom[0].address
        td= map.mapto.address
        td
          if (map.mapfrom[0].proof.url)
            a(href="#") Link to Proof
        td
          a(href="/twitter/view/" + map.mapfrom[0].address)
            button.btn.btn-xs.btn-primary
              | Details 
          |         
          a(href="bitcoin:" + map.mapto.address)
            button.btn.btn-xs.btn-success
              | Pay 
          | 
          a(href="#" + map._id)
            button.btn.btn-xs.btn-danger
              | Delete

  a(href="/twitter/new")
    button.btn.btn-success
     | Add new address  